<!-- app/views/home/index.html.erb -->
<!doctype html>
<html lang="ko">
  <head>
    <title>Stay PortFolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- 헤더 섹션 -->
    <header id="header" class="container-wide" style="background: none">
      <!-- 로고 이미지 -->
      <a href="<%= root_path %>">
        <img src = "https://www.stayfolio.com/web/images/logo.svg" alt="StayFolio Logo" class = "logo">
      </a>
      <!-- 네비게이션 메뉴 -->
      <nav>
        <ul>
          <li class="popup-trigger"><%= t('navigation.destinations') %></li>
          <li class="popup-trigger"><%= t('navigation.dates') %></li>
          <li><a href="#">FIND STAY</a></li>
          <li><a href="#">PROMOTION</a></li>
          <li><a href="#">JOURNAL</a></li>
          <li><a href="#">PRE-ORDER</a></li>
          <li>
            <%# if current_user %>
              <%#= link_to t('my-page').upcase, my_page_path %>
            <%# else %>
              <%#= link_to to('login').upcase, login_path %>
            <%# end %>
          </li>
          <li class="dropdown">
            <span class="dropdown-trigger"><%= t('navigation.language') %></span>
            <ul class = "dropdown-menu">
              <li><%= link_to 'KOREAN', url_for(locale: :ko) %></li>
              <li><%= link_to 'ENGLISH', url_for(locale: :en) %></li>
            </ul>
        </ul>
      </nav>
    </header>

  </body>
</html>
